body{
    background: #fff;
    text-align: center;
}
#menu{
    width: 150px;
    height: 150px;
    position: absolute;
    top:50%;
    left:50%;
    margin: -75px 0 0 -75px;
    list-style: none;
    font-size: 200%;
}

.menu-button{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -75px;
    background: #3742fa;
    border-radius: 50%;
    background-size: 100%;
    overflow: hidden;
    text-decoration: none;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}

.menu-button span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 76px;
}

.menu-item{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 55%;
    line-height: 5px;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    background: #3742fa;
    transform: translate(0px, 0px);
    transition: transform 500ms;
    z-index: -2;
    cursor: pointer;
    transition: 0.3s linear;
}

.menu-item:hover{
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}

.menu-item a{
    color: #fff;
    position: relative;
    top: 30%;
    left: 0;
    text-decoration: none;
}

#menu:not(:target) > a:first-of-type,
#menu:target > a:last-of-type{
    z-index: 1;
}

#menu:target > .menu-item:nth-child(3){
    transform: rotate(-20deg) translateY(-155px) rotate(20deg);
    transition-delay: 0.2s;
}

#menu:target > .menu-item:nth-child(4){
    transform: rotate(-60deg) translateY(-150px) rotate(60deg);
    transition-delay: 0.3s;
}

#menu:target > .menu-item:nth-child(5){
    transform: rotate(20deg) translateY(-155px) rotate(-20deg);
    transition-delay: 0.1s;
}

#menu:target > .menu-item:nth-child(6){
    transform: rotate(60deg) translateY(-150px) rotate(-60deg);
    transition-delay: 0.0s;
}

.menu-item:nth-child(3):hover{
    background: #1877f2;
}

.menu-item:nth-child(4):hover{
    background: #cd201f;
}

.menu-item:nth-child(5):hover{
    background: #e4405f;
}
.menu-item:nth-child(6):hover{
    background: #1da1f2;
}